.footer {
    background-color: #3d1e10; /* Dark brown theme */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.socialMedia a {
    color: white;
    font-size: 28px;
    transition: transform 0.2s ease-in-out;
}

.socialMedia a:hover {
    transform: scale(1.2);
    color: #ffae00; /* Highlight color */
}

p {
    font-size: 14px;
    margin: 0;
}
